
$spring-8points: 8px;

$spring-color: #000;
$spring-primary-color: #6db33f;
$spring-link-color: #097dff;
$spring-gray-color: #f7f7f7;

$spring-font-size: 15px;
$spring-font-size-sm: 14px;
$spring-font-family: Karla, sans-serif;
$spring-font-family-special: Montserrat;

$spring-radius: 4px;
$spring-transition-duration: .15s;

$spring-sidebar-width: $spring-8points * 35;