$spring-8points: 8px;

$spring-background: #fff;

$spring-color: #222;
$spring-primary-color: #6db33f;
$spring-link-color: #6db33f;
$spring-gray-color: #f7f7f7;
$spring-dark-color: #e4e4e4;

$spring-border-color: #e4e4e4;
$spring-border-color-hover: darken($spring-border-color, 5);

$spring-font-size: 15px;
$spring-font-size-sm: 14px;

$spring-font-family: Karla, sans-serif;
$spring-font-family-special: 'Source Sans Pro', Arial;

$spring-radius: 4px;
$spring-transition-duration: 0.15s;

$spring-sidebar-width: 316px;

$spring-outline-color: rgba(0, 0, 0, 0.2);
