@use 'variables' as *;
@use 'mixins' as *;
@use 'responsive';
@use 'sass:color';

$w_arrow: 12px;
$w: 1000px;
$w2: 500px;

.modal-add-favorite,
.modal-favorite {
  z-index: 999;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;

  .modal-favorite-container,
  .modal-add-favorite-container {
    max-width: $w;
    margin: 0 auto;
    background: white;
  }

  .modal-add-favorite-container {
    max-width: $w2;
  }

  @include transition(all $spring-transition-duration);
  &:before {
    $h: 60px;
    content: ' ';
    height: $h;
    width: $w;
    position: absolute;
    bottom: -$h;
    left: 0;
  }
  .modal-content {
    padding: $spring-8points * 3;
    padding-top: $spring-8points;
    padding-bottom: $spring-8points * 2;
    max-height: 70vh;
    overflow: auto;
    .list {
      .name {
        font-weight: bold;
        display: block;
      }
      ul {
        padding: 0;
        margin: 0 0 10px;
      }
      li {
        position: relative;
        list-style: none;
        padding: 1px 0;
        margin: 0;
      }
      a.item {
        display: block;
        position: relative;
        background: $light-background-seconday;
        border-radius: 3px;
        text-decoration: none;
        padding: 5px 10px;
        color: $light-color;
        padding-right: 80px;
        &:hover {
          background: color.adjust($light-background-seconday, $lightness: 2%);
          a {
            opacity: 1;
          }
        }
      }
      .time {
        width: 80px;
      }
      .time,
      .desc,
      .main,
      .deps {
        display: block;
      }
    }
  }
  .modal-header {
    position: relative;
    padding: 6px $spring-8points * 2 2px;
    border-bottom: 1px solid #ebebeb;
    h1 {
      font-size: $spring-8points * 2.5;
      line-height: $spring-8points * 2.5;
      font-weight: 600;
    }
    .button {
      position: absolute;
      top: 11px;
      right: 11px;
      font-size: $spring-font-size - 3;
      line-height: 0.7rem;
      margin-right: 0;
    }
  }
  .modal-action {
    text-align: center;
    border-top: 1px solid $light-border;
    padding: 16px 0 8px;
  }
  button.remove,
  button.edit {
    $size: 38px;
    display: block;
    position: absolute;
    width: $size;
    right: 10px;
    top: 50%;
    margin-top: -(calc($size / 2));
    border: 0 none;
    cursor: pointer;
    background: transparent;
    opacity: 0.4;
    @include outline;
    @include transition(all 150ms);
    .a-content {
      display: block;
      outline: none;
      box-shadow: none;
      padding: 8px;
    }
    svg {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      opacity: 1;
    }
  }
  button.edit {
    $size: 32px;
    right: 45px;
    width: $size;
    margin-top: -(calc($size / 2));
    svg {
      .st0 {
        fill: #000;
      }
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: all 300ms;
}

.modal-add-favorite {
  .control-inline {
    flex: none;
    display: block;
    label {
      text-align: left;
      flex: none;
      display: block;
    }
    .input {
      margin: 0;
    }
  }
  .modal-action {
    padding: 16px 0 16px;
  }
  .favorite-desc {
    background: $light-background-seconday;
    padding: 8px;
    margin: 8px 0;
    border-radius: 3px;
    .deps {
      display: block;
    }
  }
}

