body.dark .fools,
.fools {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  a.button,
  button.button {
    border-color: #fff;
    background: transparent;
    color: #fff;
    &:before {
      background: #fff;
    }
    &:hover {
      color: #000;
    }
  }
}

.windows-screen {
  height: 100%;
  width: 100%;
  background: #106faa;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 40px;
  font-family: 'Segoe UI', Calibri, Arial;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  .wrap {
    padding-left: 10rem;
    padding-bottom: 8rem;
    padding-top: 1rem;
  }
  h2 {
    font-weight: normal;
    font-size: 80px;
    line-height: 80px;
  }
  div.qrcode-block {
    position: relative;
    padding-left: 135px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    p {
      margin: 0;
    }
  }
  div.qrcode {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 8px;
    svg {
      color: #106faa;
      display: block;
    }
  }
  .small {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .windows-screen {
    .wrap {
      text-align: center;
      padding: 1rem;
    }
    .small {
      display: none;
    }
    div.qrcode {
      position: relative;
      margin: 1rem auto;
    }
    div.qrcode-block {
      padding: 0;
    }
  }
}
