@import 'variables';
@import 'mixins';

$w_arrow: 12px;
$w: 500px;

.popup-share {
  z-index: 10000;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 0;
  right: 0;

  .popop-share-container {
    width: $w;
    margin: 0 auto;
    background: white;
  }

  @include transition(all $spring-transition-duration);
  &:before {
    $h: 60px;
    content: ' ';
    height: $h;
    width: $w;
    position: absolute;
    bottom: -$h;
    left: 0;
  }
  .popup-content {
    padding: $spring-8points * 3;
    padding-top: $spring-8points;
    padding-bottom: $spring-8points * 2;
    label {
      display: block;
      font-size: $spring-font-size;
      color: $light-color;
      line-height: $spring-8points * 3;
      padding-top: $spring-8points;
      font-weight: 300;
    }
    .control {
      position: relative;
      padding-bottom: $spring-8points;
    }
    .input {
      padding-right: 70px;
      &.padding-lg {
        padding-right: 88px;
      }
    }
    .button {
    }
    .button {
      position: absolute;
      top: 5px;
      //padding: 0 $spring-8points * 2;
      //height: 38px;
      // line-height: 43px;
      right: 2px;
      // @include link;
      margin: 0;
      span.button-content span {
        font-size: 12px;
        padding: 0.2rem 0.5rem 0.1rem;
      }
    }
  }
  .popup-header {
    position: relative;
    padding: 6px $spring-8points * 2 2px;
    border-bottom: 1px solid #ebebeb;
    h1 {
      font-size: $spring-8points * 2.5;
      line-height: $spring-8points * 2.5;
      font-weight: 600;
    }
    .close {
      display: block;
      position: absolute;
      top: 15px;
      right: 6px;
      padding: 4px 8px;
      height: 22px;
      cursor: pointer;
      opacity: 0.7;
      color: $light-color;
      svg {
        width: 16px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .popup-action {
    text-align: center;
    border-top: 1px solid $light-border;
    padding: 16px 0 8px;
  }
}

.popup-enter {
  opacity: 0;
}

.popup-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.popup-exit {
  opacity: 1;
}

.popup-exit-active {
  opacity: 0;
  transition: all 300ms;
}

@import 'responsive';
