In order to run Spring Cloud Function apps on AWS Lambda, you can leverage Spring Cloud
Function AWS adapter and {{buildTool}} plugins offered by the cloud platform provider.

You will need to add to dependencies and configure the AWS Lambda adapter plugin, shade
your jar and, possibly, add additional transformers.

Check the documentation for detailed information on [using the AWS Lambda adapter]() and
[setting up the {{buildTool}} build, along with a full build setup sample]().