In order to run Spring Cloud Function applications on Microsoft Azure, you can leverage Spring Cloud
Function Microsoft Azure adapter and {{buildTool}} plugins offered by the cloud platform
provider.

You will need to add to dependencies and configure the Azure Functions plugin, ensure the
generated Azure functions are copied to a correct directory and that you upload thin or flat
jars to Azure.

Check the documentation for detailed information on [using the Azure adapter](https://cloud.spring.io/spring-cloud-static/spring-cloud-function/{{version}}/azure.html) and [setting
up the {{buildTool}} build, along with a full build setup sample](https://cloud.spring.io/spring-cloud-static/spring-cloud-function/{{version}}/azure.html#_build_file_setup).

