## Running Spring Cloud Function applications on {{platform}}

In order to run Spring Cloud Function applications on Microsoft Azure, you can leverage Spring Cloud
Function Microsoft Azure adapter and {{buildTool}} plugins offered by {{platform}}.

Check the documentation for detailed information on [using the Azure adapter](https://docs.spring.io/spring-cloud-function/docs/{{version}}/reference/html/azure.html) and [setting
up the {{buildTool}} build, along with a full build setup sample](https://docs.spring.io/spring-cloud-function/docs/{{version}}/reference/html/azure.html#_build_file_setup).

