## Running Spring Cloud Function applications on {{platform}}

A {{buildTool}} plugin has not been provided by {{platform}} as yet.

If you want to deploy your {{buildTool}} function application to {{platform}}, we suggest
you consult the cloud platform provider documentation or check with them about the
possibility of adding {{buildTool}} support for the platform.

