## Running Spring Cloud Function applications on {{platform}}

In order to run Spring Cloud Function applications on AWS Lambda, you can leverage Spring Cloud
Function AWS adapter and {{buildTool}} plugins offered by {{platform}}.

Check the documentation for detailed information on [using the AWS Lambda adapter](https://cloud.spring.io/spring-cloud-static/spring-cloud-function/{{version}}/aws.html)
and [setting up the {{buildTool}} build, along with a full build setup sample](https://cloud.spring.io/spring-cloud-static/spring-cloud-function/{{version}}/aws.html#_build_file_setup).

