A {{buildSystem}} plugin has not been provided by {{platform}} as of yet.

If you want to deploy your {{buildSystem}} function application to {{platform}}, we suggest
you consult the cloud platform provider documentation or enquire with them regarding the
possibility of adding {{buildSystem}} support for the platform.