In order to run Spring Cloud Function apps on {{platform}}, you can leverage {{buildTool}}
plugins offered by the cloud platform provider. In order to do that, you need to provide
additional build setup, including adding and configuring dependencies and platform-specific
plugins.

You can find an example of full {{buildTool}} setup for {{platform}} [here]({{link}}).
